@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,600i');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Marvel');


body{
	
overflow-x: hidden;
}
p,li,span{font-family: 'Marvel', sans-serif;}
.letra{
	font-size: 60px;
	margin-top: 100px;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
/*texto*/
p{  
	color: #000000;
	font-size: 16px;

}
.titulo{
	font-family: 'Marvel', sans-serif;
	color: #000000;
	padding-top: 10px;
}
/*menu*/
.navbar{
	background-color: #000000;
	margin-bottom: -4px;
    
}
.navbar li a {
    	font-family: 'Marvel', sans-serif;
    
 }
.navbar a:hover{

	background-color: #fff;
    
}
/*botão em breve*/
.breve{
	margin-top: 10px;
	font-family: 'Marvel', sans-serif;
}
.modal-header h5{
   color: #016187;
}
.em_breve{
	background: url('../img/luz.jpg');
}
.modal-body ul li{
	color: #fff;
}
/*botão em breve*/
.fa-plane{
	color: #fff;
}
/*-----menu------*/
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: auto;
	overflow-x: hidden;
}
/*header fixo*/

.fundo{
	position: relative;
	background-image: url('../img/fundo.jpg');
	background-repeat: no-repeat;
	height: 650px;
	width: 100%;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	z-index: 1;
	
}
.fundo h1{
	font-family: 'Marvel', sans-serif;
	font-size: 7em;
	position: relative;
	margin: 0 auto;
	top: 140px;
	color:#fff;
	text-shadow: 0 15px 5px rgba(0,0,0,.5); 
}
/*.fundo h2{
	color: #fff;
	font-family: 'Marvel', sans-serif;
    margin-top: 200px;
    text-shadow: 0 15px 5px rgba(0,0,0,.5);
}*/
.fundo span{
	font-size: 30px;
    text-shadow: 0 15px 5px rgba(255,255,255,.5);
	color: #54DEFD;

}
/*serviços*/
.comercio{
	position: relative;

}
article{
	margin-top: 70px;

	
	/*background-color: #C5EFF7;*/
}
#quemsomos p{
	font-size: 25px;
	margin: 0 auto;
	text-align: center;
}
#quemsomos b{
	color:#6BB9F0  ;
}
.btnloja{
	position: relative;
	top: 20px;
}
.btnloja a{
   background-color: #6BB9F0 ;
   padding: 10px;
   color:#fff;
   text-decoration: none;
   box-shadow: 1px 1px 0px 0px #000000;
}
/*destaque*/
#destaque{
	margin-bottom: 10px;
}
#destaque h2{
	margin-top: 100px;
  font-family: 'Marvel', sans-serif;
}
/*-----------------------*/
/*slid loja*/
.divslider{
	width: :100%;
	padding: 0;
	margin: 0;
}
/*cliente*/
#cliente{
  margin-top: 150px;	
}
.negocio img{
	margin: 0 auto;
	margin-bottom: -20px;
}
#negocio{
	background-image: url('../img/luz_foco.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	/*filter: brightness(0.5);*/


}
.negocio{
	
	margin-top: 70px;
}
.negocio b{
	color: #6BB9F0;
}
.negocio h2{/*expanda seu negocio*/
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
	font-family: 'Marvel', sans-serif;
	color: #fff;
	
}
.negocio p,h3,b,h4{
	padding: 10px;
	font-family: 'Marvel', sans-serif;
	color: #fff;
	font-size: 19px;
	text-shadow: 1px 1px 1px #000000;
}
.thumbnail p{
 font-family: 'Marvel', sans-serif;
}
.caption h3{
  font-family: 'Marvel', sans-serif;
}
.btnmodal h1{
	color: #000000;
	border: 3px solid #000000;
	padding: 5px;
	transition: all .3s;
	font-family: 'Marvel', sans-serif;
}
.btnmodal h1:hover{
   color: #fff;
   background-color:#000000;
}
.btnmodal2 b{
	position: relative;
	top:20px;
	font-size: 30px;
	cursor: pointer;
}
.btnmodal2{
	height: 100px;
	font-family: 'Marvel', sans-serif;
	text-align: center;
	background-color: #B7D3F2;
	color:#80A1D4;
	text-shadow: 1px 1px 1px #fff;
	
}

/*mapa tradicional*/

/*#map {
	height: 100%;
} 
#btnmapa{
	position: relative;
	width: 240px;
	height: 30px;
	background-color: #fff;
	z-index: 1000;
	top:110px;
	left: 10px;
}  
#btnmapa input{
	margin-left: 5px
}*/
.mapa{
	margin-bottom: 10px;
}
#mapa{

	height: 700px;
}
#mapa h2{
	margin-top: 80px;
}
#mapa p{
	
	color: #000000;
}

#map_wrapper {
    height: 700px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
#map p{
       background-color: #fff;
}
#escondido{
	color: #000000;
}
/*quem somos*/

  /*border-radius: 661px;*/

}
/*formulario*/
.subtext{
	
	background-color: #17C3F3;
	color:#fff;
	background-color: #B7D3F2;
	padding: 5px;
	border-radius: 5px;
}
.mc-field-group{
	margin-bottom: 10px;
}
.mc-field-group label{
	font-size: 15px;

}
/*tirando caixa do input*/
.mc-field-group input[type="text"],
.mc-field-group input[type="email"]
{
	border:none;
	border-bottom: 1px solid;
	background-color: transparent;
	outline: none;
	

}
/*fim formulário*/
#rodape{
	background-color: #000000;
}
#rodape .img-responsive{
   margin: 0 auto;
}
footer{
	background-color: #000000;
	height: auto;
	margin-top: 20px;
}

footer ul li{
	color: #fff;
	list-style: none;
	font-size: 19px;
	
}
footer h4{
	font-family: 'Marvel', sans-serif;
	border-top: solid 1px #fff;
	color: #fff;
}
footer h5{
	font-family: 'Marvel', sans-serif;
	color: #fff;
	font-size: 19px;
	margin-top: 20px;
}
footer p{

	color: #fff;
	font-size: 19px;
}
footer h5{
	color: #fff;
	text-align: center;
	font-family: 'Marvel', sans-serif;
	font-size: 19px;

}
footer .col-md-4{
		margin-top: 100px;

}
footer .fim{
   height: 80px;
   padding: 10px;
   background-color: #2B2B2B;
}
/*Colocar o ALT*/
/*img[alt=""],img:not([alt]){border: 5px dashed #ff0000;}*/