@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,600i');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Marvel');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');


body{
	
overflow-x: hidden;
}
p,li,span{font-family: 'Marvel', sans-serif;}
.letra{
	font-size: 60px;
	margin-top: 100px;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
/*texto*/
p{  
	color: #000000;
	font-size: 16px;

}
.titulo{
	font-family: 'Marvel', sans-serif;
	color: #000000;
	padding-top: 10px;
}
/*menu*/
.navbar{
	background-color: #000000;
	margin-bottom: -4px;
    
}
.navbar li a {
    	font-family: 'Marvel', sans-serif;
    	font-size: 17px;
    	transition: all 0.8s; 
    
 }

/*botão em breve*/
.breve{
	margin-top: 10px;
	margin-left: 5px;
	font-family: 'Marvel', sans-serif;
}
.modal-header h5{
   color: #016187;
}
.em_breve{
	background: url('../img/luz.jpg');
}
.modal-body ul li{
	color: #fff;
}
/*botão em breve*/
.fa-plane{
	color: #fff;
}
/*-----menu------*/
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: auto;
	overflow-x: hidden;
}
/*header fixo*/

/*.fundo{ fundo antigo sem video
	position: relative;
	background-image: url('../img/info.jpg');
	background-repeat: no-repeat;
	height: 650px;
	width: 100%;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	z-index: 1;
	
}*/
.fundo h1{
	font-family: 'Marvel', sans-serif;
	font-size: 7em;
	position: relative;
	margin: 0 auto;
	color:#fff;
	text-shadow: 0 15px 5px rgba(0,0,0,.5); 
}
/*.fundo h2{
	color: #fff;
	font-family: 'Marvel', sans-serif;
    margin-top: 200px;
    text-shadow: 0 15px 5px rgba(0,0,0,.5);
}*/
.fundo span{
	font-size: 30px;
    text-shadow: 0 15px 5px rgba(255,255,255,.5);
	color: #54DEFD;

}
/*serviços*/
.comercio{
	position: relative;

}
article{
	margin-top: 70px;

	
	/*background-color: #C5EFF7;*/
}
#quemsomos{
	height: 550px;
}
#quemsomos p{
	font-size: 25px;
	margin: 0 auto;
	text-align: center;
}
#quemsomos b{
	color:#6BB9F0  ;
}
.linha-vertical{
	 border-left: #fff 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
     box-sizing:  border-box;
}
.btnloja{
	position: relative;
	top: 20px;
}
.btnloja a{
   background-color: #6BB9F0 ;
   padding: 10px;
   color:#fff;
   text-decoration: none;
   box-shadow: 1px 1px 0px 0px #000000;
}
/*destaque*/
#destaque{
	margin-bottom: 10px;
}
#destaque h2{
	margin-top: 100px;
  font-family: 'Marvel', sans-serif;
}
/*-----------------------*/
/*slid loja*/
.divslider{
	width: :100%;
	padding: 0;
	margin: 0;
}
/*cliente*/
/*#cliente{
  margin-top: 150px;	
}*/

.marketing{
	background-image: url('../img/azul2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	width: 100%;

	/*filter: brightness(0.5);*/


}

.marketing b{
	color: #007CC0;
}
.marketing h2{/* marketing*/
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
	font-family: 'Marvel', sans-serif;
	color: #fff;
	border-bottom: 1px #fff solid;
	border-top: 1px #fff solid;
	
}
.marketing h3{
	font-family: 'Anton', sans-serif;
}
/*classe negocio tbm esta atingindo o mapa*/
.marketing p,h3,b,h4{
	padding: 10px;
	font-family: 'Marvel', sans-serif;
	color: #fff;
	font-size: 33px;
	text-shadow: 1px 1px 1px #000000;
}
.thumbnail p{
 font-family: 'Marvel', sans-serif;
}
.caption h3{
  font-family: 'Marvel', sans-serif;
}
.btnmodal h1{
	color: #000000;
	border: 3px solid #000000;
	padding: 5px;
	transition: all .3s;
	font-family: 'Marvel', sans-serif;
}
.btnmodal h1:hover{
   color: #fff;
   background-color:#000000;
}
.btnmodal2 b{
	position: relative;
	top:7px;
	font-size: 2em;
	cursor: pointer;
}
.btnmodal2{
	height: 100px;
	font-family: 'Marvel', sans-serif;
	text-align: center;
	background-color: #2E93CB;
	border-right: solid #007CC0 4px;
	border-bottom: solid #007CC0 4px;
	border-radius: 5px;
	color:#80A1D4;
	text-shadow: 1px 1px 1px #fff;
	padding: 10px;
	margin:50px; 
	transition: all 1s;
}
/*mapa tradicional*/

/*#map {
	height: 100%;
} 
#btnmapa{
	position: relative;
	width: 240px;
	height: 30px;
	background-color: #fff;
	z-index: 1000;
	top:110px;
	left: 10px;
}  
#btnmapa input{
	margin-left: 5px
}*/
.mapa{

	margin-bottom: 10px;
}
#mapa{
    margin-top: -60px;
	height: 700px;
}
#mapa h2{
	margin-top: 80px;
}
#mapa p{
	
	color: #000000;
}

#map_wrapper {
    height: 700px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
.mapping{
	font-size: 10px;
}
/*estilização balão do mapa*/
.info_content h3{
	color: #000000;
}
.info_content p{
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
.info_content img{
	position: relative;
	left: 15px;
	top: 20px;
	border-radius: 50px;
}
.info_content{

	border-radius: 10px;
	
}
#escondido{
	color: #000000;
}
/*quem somos*/

  /*border-radius: 661px;*/

}
/*formulario*/
.subtext{
	
	background-color: #17C3F3;
	color:#fff;
	background-color: #B7D3F2;
	padding: 5px;
	border-radius: 5px;
}
.mc-field-group{
	margin-bottom: 10px;
}
.mc-field-group label{
	font-size: 15px;

}
/*tirando caixa do input*/
.mc-field-group input[type="text"],
.mc-field-group input[type="email"]
{
	border:none;
	border-bottom: 1px solid;
	background-color: transparent;
	outline: none;
	

}
/*efeito agora dicas*/

.sec2{
	height: 700px;
	width: 100%;
    background-color: #aadaff;
    margin-bottom: -20px;

}
.sec2 h1{
  font-family: 'Anton', sans-serif;
  color: #fff;
  text-align: center;
  font-size:11em;
  position: relative;
  top: 150px;
  background-image: url('../img/email_fundo.png');
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  animation: animate 20s linear infinite;

}
@keyframes animate{
	0%
	{background-position: 0 0;}
	100%
	{background-position: 100% 100%;}

}
.circulo{ /*SETA DUPLA*/
	position:relative;
	top:35%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 160px;

}
.circulo i{
	color: #fff;
	text-shadow: 1px 1px 1px #000000;

}
/*fim efeito agora dicas*/
/*Faça seu negócio com filtro na imagem de fundo*/
.sec3{

  background-image:
  linear-gradient(
  	rgba(170,218,255,0.9),
  	rgba(170,218,255,0.9)),
    url('../img/email_fundo.png');
  background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	height: auto;
	width: 100%;
	position: relative; 
	display: block;

}
.sec3 h2{
  text-shadow: 0px 1px 1px #000000;
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: #fff;

}
.sec3 h3{
	border:solid #fff 4px;
	border-radius: 5px;
	padding: 8px;

}
.sec3 i{
	color: #fff;
	margin: 0 auto;
	font-size: 40px;
	text-shadow: 0px 1px 1px #000000;
	

}
.sec3 p{
	color: #007CC0;
	font-size: 30px;
	margin-top: 30px;

}
/*cores dos icones e textos*/
.cor1 i{
	color: #D6191C;
	
}
.cor2 i{
	color: #fff;
	
}
.cor3 i{
	color: #007EED;
	
}
/*fim Faça seu negócio*/




/*fim formulário*/

/*midia indoor*/
.indoor_e_email{
  
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.indoor{

  padding-top: 50px;	
	
}
.indoor b{
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  text-shadow: 0px 1px 1px #000000;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  color: #fff;

}
.indoor p{
	margin-top: 15px;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 2px 1px #000000;
	
}

.btn_indoor{
	margin-top: 10px;
	height: 200px;
	background-image:url('../img/viaj_fundo2.jpg');
    background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;

	
}
.btn_indoor p{
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	color: #fff;
	text-shadow: 1px 1px 1px #000000;
	transition: all 1s;
}
.btn_indoor p:hover{
   text-shadow: 4px 4px 4px  #71C7ED;
}
.btn_indoor a {
	margin-top: 20px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 2px #000000;
}

/*fim midia indoor*/
#rodape{
	background-color: #000000;
	margin-top: -19px;

}
#rodape .img-responsive{
   margin: 0 auto;
}
footer{

	background-color: #000000;
	height: auto;
	margin-top: 20px;
}

footer ul li{
	color: #fff;
	list-style: none;
	font-size: 19px;
	
}
footer h4{
	font-family: 'Marvel', sans-serif;
	border-top: solid 1px #fff;
	color: #fff;
}
footer h5{
	font-family: 'Marvel', sans-serif;
	color: #fff;
	font-size: 19px;
	margin-top: 20px;
}
footer p{

	color: #fff;
	font-size: 19px;
}
footer h5{
	color: #fff;
	text-align: center;
	font-family: 'Marvel', sans-serif;
	font-size: 19px;

}
footer .col-md-4{
		margin-top: 100px;

}
footer .fim{
   height:auto;
   padding: 10px;
   background-color: #2B2B2B;
}

footer .fim i{
	color: #fff;
	font-size: 40px;
	margin-bottom: -10px;
}
/*Colocar o ALT*/
/*img[alt=""],img:not([alt]){border: 5px dashed #ff0000;}*/